/.bundle
/db/*.sqlite3
/log/*.log
/tmp
/public/uploads/*
**.swp
.*.s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~
*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
.rvmrc
/.bundle
/vendor/bundle
/log/*
/tmp/*
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
.project
