.features {
  
  text-align: center;
     padding: 64px 40px;


  [class^='icon-'], [class*=' icon-'] {
    font-size: 12em; 
    color: adjust-lightness(rgb(42, 42, 42), 10);
  }

  .feature { padding: 10px 20px; }
  p        { font-size: 1.1em; line-height: 1.4em; }

}
