nav.navbar {
  
   margin-bottom: 0;
  vertical-align: middle;
  
  .navbar-inner { padding: 10px 40px; }
  .sign-in      { padding-top: 5px; }
  .sign-in-text { vertical-align: middle; }
  .btn          { margin-top: 0; }
}
