.features.container
  .row-fluid

    .feature.frankly.span4
      .icon-bookmark
      %h3 Wait for franks come to you.
      %p
        Dont ever mention it.. 
        While you are away and maybe turding, contAT turn your contacts into valuable franking machines. It's like rainbows! 

    .feature.turdly.span4
      .icon-cloud
      %h3 Turding was never easy before.
      %p
        Turding is the hardest thing when you are adding someone to your personal life. Just add contacts that you have just met, and live us the propagation of your mighty battlecry turdings.

    .feature.friendly.span4
      .icon-legal
      %h3 Your friends will bow to your friendliness.
      %p
        Being a respectful friend is hard. We will give you the wings of Kahta to relief you from your burden. Only thing that up to you is Divide & Conquer your contacts.
