-# set proper title for landing page
-  title t('pages.landing.title')

.call-to-action
  %h3.message= t('pages.landing.call_to_action.message')
  = link_to t('pages.landing.call_to_action.start'), new_user_registration_path
