%aside.sidebar
  
  %header
    %h4= t('pages.contacts.sidebar.header')
    %span.contacts-add
      
  #contacts
   
  %footer
    %span.import-xml.btn.btn-warning.btn-block
      = t('pages.contacts.sidebar.import_xml_button')
