%aside.sidebar
  = render 'contacts/sidebar_header'
  %ul#contacts
    It seems you dont have any contacts. 
    Add one by clicking 'Add' button or
    import your contacts by clicking
    Dropdown near 'Add' Button.
   
