article#contact-show {
  margin-left: 324px;
   margin-top: $navbar-height + 24px;


  #contact-form {
    
    font-size: 2em;
    
    .item {
      position: relative;

      input { 
         border-left: none; 
        border-right: none;
          border-top: none;
              height: auto;
               width: auto;
           font-size: 1.5em;
         line-height: 1;

        &::-webkit-input-placeholder { font-size: 1em; }

        &.inline-error { 
          border-color: $red; 
                 color: $red;
           font-weight: bold;    
        }

      }

      .icon-edit { visibility: hidden; }

      &:hover {
        .icon-edit { visibility: visible; }
      }

      .error {
              color: #943;
              float: right;
          font-size: 12px;
        font-weight: bold;
           position: absolute;
         margin-top: 36px;
                top: 28px;
              right: 20%;
            z-index: 20;
      }

    }
  }
}
