aside.sidebar {
  h2, h3, h4, h5 { font-family: $light-font-family; }   

   max-width: 260px !important;
   min-width: 260px !important;
     padding: $global-padding;
  background: image-url('stressed_linen.png') top left;
      height: 100%; 
    position: fixed;
         top: $navbar-height;
        left: 0;
       color: $white;


  header { 
            top: $global-padding;
    margin-left: 0;
       position: absolute; 
          width: 260px; 

    
    .add-menu {
           float: right;
      margin-top: -6px;

      .add-submenu-btn { margin-left: -5px; }
      .submenu         { left: auto; right: 0; }
    }
  }

  ul#contacts {
     margin-top: 66px;
    margin-left: 0;
     list-style: none;
     height: 70%;
     overflow-y: scroll;

    li {
      margin-bottom: 4px;
            padding: 10px;
          font-size: 1.2em;

      &:hover { 
        background: adjust-lightness($black-background, 6); 
            cursor: pointer;
      }

    }
  }

}
