// Application-wide variables here.

// !Heads up. Any changes on these variables may change plenty of visuals application-wide.
//   Please use extreme caution.

$red: #a31a3f;


$black-background: rgb(42, 42, 42);


$form-width:   300px;
$form-padding: 20px;
