// Comtacts specific styles goes here.

// @todo extract variables to common/_variables
$navbar-height: 66px;


html { height: 100% }
body { height: 100% }

nav.navbar {
  position: absolute;
   z-index: 10;
     width: 100%;
    height: $navbar-height;
}

.row-fluid { 
       height: 100%;
  padding-top: $navbar-height;
}

@import 'contacts/sidebar';
