%nav.navbar
  .navbar-inner
    - unless current_path?(new_user_session_path)
      %section.sign-in.pull-right
        %span.sign-in-text= I18n.t('pages.sign_in_text')
        = link_to I18n.t('pages.sign_in_button'), new_user_session_path, class: "btn btn-success"
    
